body{
    background-image: linear-gradient(to bottom top, #d93492, #d4269b, #cc16a5, #c206b1, #b500bd, #9546db, #6864f1, #007bff, #00a3ff, #00c5ff, #00e2ff, #5ffbf1);
    font-family: 'Open Sans', sans-serif;
    font-style: bold;

}